.ma-orders__section-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #705F5E;

    @media (max-width: 768px) {
        font-size: 16px;    
    }
}

.ma-orders__pages {
    margin-top: 20px;
}