.thankyou {
    padding-top: 209px;
    padding-bottom: 100px;

    @media (max-width: 999px) {
        padding-top: 146px;
        padding-bottom: 60px;
    }
}

.thankyou__image {
    margin-top: 50px;
}

.thankyou__img {
    display: block;
    margin: 0 auto;
    width: 160px;

    @media (max-width: 999px) {
        width: 121px;
    }
}

.thankyou__title {
    margin-top: 40px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;

    color: #705F5E;
    text-align: center;

    @media (max-width: 999px) {
        font-size: 16px;
    }
}

.thankyou__p {
    margin-top: 12px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    /* or 24px */

    text-align: center;

    color: #808080;

    @media (max-width: 999px) {
        margin-left: auto;
        margin-right: auto;
        max-width: 650px;
        font-size: 12px;
    }
}

.thankyou__wrapper {
    margin-top: 30px;

    padding: 28px 0;
    background: #FFFFFF;
    border: 2px solid #FBF7F1;
    border-radius: 4px;

    @media (max-width: 1200px) {
        margin-left: auto; 
        margin-right: auto; 
        width: 85%;
    }

    @media (max-width: 999px) {
        width: 50%;
        padding: 0 20px;
    }

    @media (max-width: 480px) {
        width: 100%;
        padding: 0 15px;
    }
}

.thankyou__container {
    display: flex;
    justify-content: center;

    @media (max-width: 999px) {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

.thankyou__el {
    width: 25%;
    padding: 0 30px;
/*     padding: 0 80px;
 */    border-right: 1px solid rgba(112, 95, 94, 0.1);

    &:last-child {
        border-right: none;
    }

    @media (max-width: 1200px) {
        padding: 0 40px;
    }

    @media (max-width: 999px) { 
        width: 100%;
        padding: 0;
        padding-top: 24px;
        padding-bottom: 24px;

        border-right: none;
        position: relative;

        &:after {
            content: '';
            display: block;
            background-color:rgba(112, 95, 94, 0.1); 
            height: 1px;
            width: 60px;

            position: absolute;
            bottom: 0;
            left: 50%;

            transform: translate3d(-50%, 0, 0);
        }

        &:last-child {
            border-bottom: none;

            &:after {
                display: none;
            }
        }
    }

    
}

.thankyou__el-title {
    white-space: nowrap;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    text-align: center;

    color: rgba(128, 128, 128, 0.8);

    @media (max-width: 1200px) {
        white-space: normal;
    }

    @media (max-width: 999px) {
        font-size: 14px;
    }
}

.thankyou__el-value {
    margin-top: 8px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;

    text-align: center;

    color: #D89C70;

    @media (max-width: 999px) {
        font-size: 18px;
    }
}

.thankyou__desc {
    margin-top: 32px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;

    text-align: center;

    color: #808080;

    @media (max-width: 999px) {
        margin-top: 28px;
    }
}

.thankyou__failed-btns-wrapper {
    margin-top: 10px;
    display: flex;

    & .btn-container {
        margin-right: 10px;
    }
}