.matcha-benefits__wrapper {
    width: 785px;
    margin: 0 auto;
    padding-top: 69px;
    padding-bottom: 123px;

    
    @media (max-width: 999px) {
        width: 80%;
    }

    @media (max-width: 767px) {
        padding-top: 24px;
        padding-bottom: 59px;
    }

    @media (max-width: 479px) {
        width: 100%;
    }
}

.matcha-benefits__book {
    padding: 101px 0;

    background-color: $white;

    @media (max-width: 999px) {
        padding: 52px 0;
    }
}

.matcha-benefits__book-wrapper {
    display: flex;

    align-items: center;

    @media (max-width: 999px) {
        flex-direction: column;
    }
}

.matcha-benefits__book-photo {
    margin-right: 96px;

    @media (max-width: 999px) {
        margin-right: 0;

        & img {
            width: 100%;
            height: auto;
        }
     }
}

.matcha-benefits__book-content {
    max-width: 562px;

    @media (max-width: 999px) {
        max-width: none;
        width: 75%;
    }

    @media (max-width: 767px) {
        width: 85%;
    }

    @media (max-width: 479px) {
        width: 100%;
    }
}

.matcha-benefits__book-title {
    font-family: Canela;
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 50px;

    letter-spacing: 0.02em;

    color: #705F5E;

    @media (max-width: 999px) {
        margin-top: 28px;
        font-size: 28px;
        line-height: 36px;
    }
}

.matcha-benefits__book-desc {
    margin-top: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;

    letter-spacing: 0.02em;


    color: #705F5E;

    @media (max-width: 999px) {
        margin-top: 12px;
        font-size: 14px;
        line-height: 150%;
    }
}

.matcha-benefits__book-btn {
    margin-top: 40px;
}