.product-faq {
    padding-top: 80px;
    padding-bottom: 100px;

    @media (max-width: 999px) {
        padding-top: 50px;
        padding-bottom: 59px;
    }
}

.product-faq__wrapper {
    margin-top: 38px;
    padding: 0 192px;

    @media (max-width: 1199px) {
        padding: 0 100px;
    }

    @media (max-width: 999px) {
        margin-top: 30px;
        padding: 0 50px;
    }

    @media (max-width: 767px) {
        padding: 0;
    }
}