.fixed-info {
    background-color: $main-d;

    height: $fixed-info-height;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 170%;
    color: $white;
    font-weight: 600;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    &--product {
        position: static;
    }

    @media (max-width: 767px) {
        font-size: 12px;
    }

    
    @media print {
        display: none;   
    }
}

.fixed-info__inner {
    text-align: center;
    padding: 8px 0;
}