.loader-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5000;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $white;
    user-select: none;

    transition: top .5s ease-out, bottom .5s ease-out;

    &--transp {
        background-color: rgba(255, 255, 255, 0.3);
    }

    &.deactivated {
        top: -1000%;
        bottom: auto;
    }
    
}



.loader-img {
    width: 100px;
} 