.reviews-page-el {
    padding: 100px 0;
    padding-bottom: 60px;

    /* &:nth-child(even) {
        background: #FBF7F1;
    } */

    @media (max-width: 999px) {
        padding: 60px 0;
    }
}

.reviews-page-el__slider {
    margin-top: 60px;
    padding: 0 100px;

    @media (max-width: 999px) {
        /* padding: 0px 50px; */
        padding: 0;
    }

    @media (max-width: 767px) {
        padding: 0px;
    }
} 

.swiper-reviews-page, .swiper-reviews-page2, .swiper-reviews-page3 {
    height: 100% !important;

    .swiper-wrapper {
        height: 100% !important;
    }
}

/* .testimonials-slide__video {
    width: 456px;
    height: 300px;
} */

/* .testimonials-slide__text {
    width: 384px;
} */