/* Colors */
$main: #F9D2B5;
$main-d: #D89C70;
$main-l: #F0E7DB;
$white: #FFFFFF;
$black: #000000;
$main-text: #705F5E;


/* Other */
$fixed-info-height: 39px;
$header-height: 114px;
$header-height-sm: 70px;
$recipes-indent-mobile: -200px;
$recipes-indent-desktop: -264px;